<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613858852311-6affg7hflckj4tnksjvt9h72kr19hcjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613858852311-6affg7hflckj4tnksjvt9h72kr19hcjd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>613858852311-h4aid8pbdhp4qcvejahl7qf76ct4fcbn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkgIJd8uM3kY5V1cpngB7LqX8KeFWjsLo</string>
	<key>GCM_SENDER_ID</key>
	<string>613858852311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.garlictech.yaha2</string>
	<key>PROJECT_ID</key>
	<string>yet-another-projects</string>
	<key>STORAGE_BUCKET</key>
	<string>yet-another-projects.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613858852311:ios:ee7a52ff28e57cdbe49f92</string>
</dict>
</plist>