<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Yaha</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true />
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false />
    <key>EnableBackgroundLocationUpdates</key>
    <string>TRUE</string>
    <key>FacebookAdvertiserIDCollectionEnabled</key>
    <string>TRUE</string>
    <key>FacebookAppID</key>
    <string>1588778658079061</string>
    <key>FacebookAutoLogAppEventsEnabled</key>
    <string>TRUE</string>
    <key>FacebookDisplayName</key>
    <string>YAHA Login</string>
    <key>FlutterDeepLinkingEnabled</key>
    <true />
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fbapi20130214</string>
      <string>fbapi20130410</string>
      <string>fbapi20130702</string>
      <string>fbapi20131010</string>
      <string>fbapi20131219</string>
      <string>fbapi20140410</string>
      <string>fbapi20140116</string>
      <string>fbapi20150313</string>
      <string>fbapi20150629</string>
      <string>fbapi20160328</string>
      <string>fbauth</string>
      <string>fbauth2</string>
      <string>fb-messenger-share-api</string>
      <string>fbauth2</string>
      <string>fbshareextension</string>
    </array>
    <key>NSAppleMusicUsageDescription</key>
    <string>You should never see this, please contact us.</string>
    <key>NSCalendarsUsageDescription</key>
    <string>You should never see this, please contact us.</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>This app uses tracking data to show you personalized
    ads.</string>
    <key>NSCameraUsageDescription</key>
    <string>We need to access your camera to read QR codes and for
    statistical analysis.</string>
    <key>NSContactsUsageDescription</key>
    <string>You should never see this, please contact us.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>In order to make sure you're at the right location and
    to help you with calculated distances the application requires
    a location permission.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>In order to make sure you're at the right location and
    to help you with calculated distances the application requires
    a location permission.</string>
    <key>NSLocationUsageDescription</key>
    <string>In order to make sure you're at the right location and
    to help you with calculated distances the application requires
    a location permission.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>In order to make sure you're at the right location and
    to help you with calculated distances the application requires
    a location permission.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>You should never see this, please contact us.</string>
    <key>NSMotionUsageDescription</key>
    <string>You should never see this, please contact us.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>You should never see this, please contact us.</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>location</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true />
    <key>UIStatusBarHidden</key>
    <true />
    <key>io.flutter.embedded_views_preview</key>
    <true />
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>
        dev-yaha-consumer.auth.us-east-1.amazoncognito.com</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>customscheme</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>
        qa-yaha-consumer.auth.us-east-1.amazoncognito.com</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>customscheme</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>
        staging-yaha-consumer.auth.us-east-1.amazoncognito.com</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>customscheme</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>
        prod-yaha-consumer.auth.us-east-1.amazoncognito.com</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>customscheme</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
